*.zip
*.tar.gz
*.tar.xz
24-05-20/
24-09-12/
*.pyc
*.env
*.gpx
Data/Syntetic/
*.vscode
images/*
cache/
tmp*

Data/Strava/*
!Data/Strava/.gitkeep
Data/Processed/*
!Data/Processed/.gitkeep
Data/kaggleDatasets/